@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    font-family: "Mulish", sans-serif;
    padding: 50px 100px;
}

.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
   border-radius: 16px;
   
}
.logo{

    display: flex;
    justify-content:space-between;
    font-size: 36px;
    align-items: center;

}
.logo img{

    height: 56px ;
    width: 48px;
}

.nav-option{

    display: flex;
    justify-content: space-between;
    align-items: center;
     font-size:18px;
     gap: 50px;
}
.span{

    color: rgb(255, 84, 0);;
}









/* explore part */


.explore-h2{

    font-size: 64px;
    font-weight: 800px;
    
}


.Explore-container{

    align-items: center;
    text-align: center;
    background-image:url(./Images/Group\ 13\ \(1\)\ \(1\).png);

    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;

    border-radius: 16px;
color: white;
padding: 100px 100px;


    
}


#explore-p{

    
}

.select-option{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px ;
     padding: 20px;
    
     margin-left: 180px;
     margin-right: 180px;
     border-radius: 10px;
     background: rgba(165, 160, 160, 0.6);
     backdrop-filter: blur(1px);
     
    

text-align: center;
    
    
}

/* input-type */

#input{

height:50px;
border: 2px solid green;

width: 174px;
border-radius: 10px;
padding-left: 10px;
color: black;
}


.container-popular{

margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 8rem;
    align-items: center;

}
#popular-button{

    height: 52px;
    width: 174px;
    background-color: rgb(255, 84, 0);
    border-radius:10px;
}


.details-popular{


    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: px;
}


/* destination */

.destination-container{

    margin-top: 100px;
}

.destination-title{

font-size: 40px;
font-weight: bold;
text-align: center;

}

.destination-paragraph{

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    }



.destination-firstrow{

display: grid;
grid-template-columns: 1fr 1fr;
margin:1rem 0;
gap: 1rem;

}

.card-one{

               position: relative;

}
.card-two{
    position: relative;
}

.country-name{

    position: absolute;
    top:50%;
    left: 50%;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transform: translate(-50%,-50%);
}


.destination-container img{

    width: 100%;
    height: 300px;
    filter: brightness(70%);
}

/* 2nd row */

.destination-second-row{

    
display: grid;
grid-template-columns: 0.9fr 1.5fr 0.6fr;
margin:1rem 0;
gap: 1rem;


}


/* destination-3rd-row */

.destination-3rd-row{

display: grid;
grid-template-columns: 0.7fr 1.3fr;
margin:1rem 0;
gap:1rem;

}


/* footer */


.logo2{


    display: flex;
    align-items: center;
     justify-content: center;
     font-size: 36px;
}

.footer-icons{

display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
margin-top: 50px;

}

.footer-paragraph{

    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.copyright{
margin-top: 80px;
margin-bottom: 80px;

text-align: center;

}



/* responsive area */

.bar{

display: none;
}

@media screen and (max-width:600px) {


    .nav-option{

        display:none;
    }
 body{
    margin: 0px 5px;
    padding: 0;
 }

.logo{

    margin-left: -40px;
}

 .logo-h3{

    display: flex;
 
    font-size: 20px;

 }

 .bar{

    display: block;
    margin-right: -20px;
 }

.explore-h2{

    font-size: 15px;
    font-weight: 800;
}

#explore-p{

    font-size: 
    10px;

}

.select-option{


    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    100%;
    margin:auto;
margin-left: -20px;
margin-top: 30px;
}


.container-popular{
display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#popular-img{

height: 100%;
width: 100%;

}

.destination-container,.destination-firstrow,.destination-second-row,.destination-3rd-row{

    display: grid;
    grid-template-columns:1fr;

}

}