@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    font-family: "Mulish", sans-serif;
}

.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
   border-radius: 16px;
   
}
.logo{

    display: flex;
    justify-content:space-between;
    font-size: 36px;
    align-items: center;

}
.logo img{

    height: 56px ;
    width: 48px;
}

.nav-option{

    display: flex;
    justify-content: space-between;
    align-items: center;
     font-size:18px;
     gap: 50px;
}
.span{

    color: rgb(255, 84, 0);;
}









/* explore part */


#explore-h2{

    font-size: 64px;
    font-weight: 800px;
    
}


.Explore-container{

    align-items: center;
    text-align: center;
    background-image:url(./Images/Group\ 13\ \(1\)\ \(1\).png);

    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;

    border-radius: 16px;
color: white;
padding: 100px 100px;


    
}


#explore-p{

    
}

.select-option{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px ;
     padding: 20px;
    
     margin-left: 180px;
     margin-right: 180px;
     border-radius: 10px;
     background: rgba(165, 160, 160, 0.6);
     backdrop-filter: blur(1px);
     
    

text-align: center;
    
    
}

/* input-type */

#input{

height:50px;
border: 2px solid green;

width: 174px;
border-radius: 10px;
padding-left: 10px;
color: black;
}

